<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/header %>
  <title>Klan Otaku Stock</title>
</head>

<body>

  <%include partials/navigation%>

  <div class="container p-2">
    <div class="row">

    <%if (stock.length > 0) {%>

    <% stock.forEach(function(prod) { %>
    <div class="col-md-3">
      <div class="card">
        <div class="card-header bg-danger text-white"><p>PRODUCTO: </p>
          <%= prod.productName %>
        </div>
        <div class="card card-body"><p>PRECIO: </p>
          <%= prod.price %>
        </div>
        <img class="card-img-top" src="<%= prod.img %>">
        <div class="card card-body"><p>CANTIDAD: </p>
          <%= prod.quanty %>
        </div>
        <div class="card-footer">
          <a href="/delete/<%= prod.id %>" class="btn btn-danger btn-block">
            Eliminar
          </a>
        </div>
      </div>
    </div>
    <%})%>

    <%} else {%>
    <div class="card card-body text-center">
      <p>Sin productos aun. <a href="/new-entry">Agregar nuevo producto</a></p>
    </div>
    <%}%>
    </div>
  </div>

</body>

</html>